header{
    width: 100%;
    height: 0.88rem;
    padding:0.22rem;
    color:#4ebbfe;
    font-size: 0.38rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    line-height: 0.88rem;
}
header > a{
    color: #4ebbfe;
}

.empty{
    width: 100%;
    height: 12rem;
    display: none;
}
.empty img{
    width:3.4rem;
    height: 5.2rem;
    margin: 3.4rem  2rem;
}

.full{
    /*width:100%;*/
    height: auto;
    min-height: 2.5rem;
    padding: 0.22rem;
    /*background: #41b2fc;*/
}
.goods{
    height: auto;

}
.goods1{
    height: 1.74rem;
    border-bottom: 0.01rem solid rgba(213,223,227,0.5);
    padding-bottom: 0.2rem;
}

.goods1  >  .point{
    width:0.58rem;
    height: 1.74rem;
    /*background: #FF1177;*/
    float: left;
}
.point .circle{
    width: 0.24rem;
    height: 0.24rem;
    background: #e7f6ff;
    margin-top: 0.75rem;
    margin-left: 0.17rem;
    border-radius: 50%;
}
.goods1 > a >img{
    width: 1.74rem;
    height: 1.74rem;
    float: left;

}
.goods1 > .details{
    width: 4.73rem;
    height: 1.74rem;
    float: left;
    /*background: #FF1177;*/
}

.details h1{
    font-size:0.3rem;
    color:#646666;
    margin-top: 0.5rem;
    float: left;
}

.account{
    margin-top: 0.5rem;
    font-size:0.26rem;
    color:#41b2fc;
    float: right;
}
.account span{
    margin-left: 0.2rem;
    font-size:0.26rem;
    color:#41b2fc;

}

.account > span > img{
    width: 0.34rem;
    height: 0.34rem;

}

.details h2{
    font-size: 0.26rem;
    color:#a4a8ac;
    margin-top: 1rem;
}

.settlement{
    /*width: 100%;*/
    height: 1.08rem;
    background: #f1faff;
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.settlementLeft{
    height: 100%;
    /*padding-top: 0.26rem;*/
    /*padding-bottom: 0.22rem;*/
    float: left;
    /*background: #36FF97;*/
}

.settlementLeft > p{
    font-size:0.24rem;
    color:#3bacfe;
    margin: 0;
    padding: 0;
}

.one i{
    color: #44b5ff;
}
.two i {
    color: #36b681;
    float: left;
    margin-top: 0.16rem;
}

.settlementLeft > p > span{
    margin-top: 0.16rem;
    float: left;
    margin-right: 0.24rem;
}
.settlementRight{
    float: right;
    height: 100%;
}
.settlementRight > a{
    /*width: 100%;*/
    height: 100%;
}
.settlementRight > a > img{
    /*height:0.62rem;*/
    width: 3.82rem;
    height: 100%;

}